html {
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
	margin: 0;
	padding: 0;

	background: radial-gradient(circle at 50% 100%,
		#fff 0px,
		#444 60vh,
		#222 65vh);

	font: 20px sans-serif;
	line-height: 20px;
}

section {
	background: repeating-linear-gradient(180deg,
		#eee 0px,
		#eee 19px,
		#ccc 19px,
		#ccc 20px);
	box-shadow: 0px 0px 2px 2px #eee;

	width: calc(100vw - 60px);
	max-width: 640px;

	border-radius: 13px;
	padding: 20px;
	margin-top: 20px;
}

textarea {
	display: block;
	width: 100%;

	border: none;
	padding: 0;
	margin: 0;
	background: repeating-linear-gradient(180deg,
		#fff 0px,
		#fff 19px,
		#88f 19px,
		#88f 20px);

	font: 20px sans-serif;
	line-height: 20px;
}
